### sorting

In [6]:
m=[123,3,56,789,675,4444,6666]
m.sort()
print(m)
m.reverse()
m

[3, 56, 123, 675, 789, 4444, 6666]

[6666, 4444, 789, 675, 123, 56, 3]

###  user input

In [11]:
a=int(input(" how many elements you need...?"))
m=[]
for i in range(a):
    b=int(input("enter elements"))
    m.append(b)
print(m)
m.sort()
m.reverse()
print(m)

 how many elements you need...?3
enter elements33
enter elements44
enter elements55
[33, 44, 55]
[55, 44, 33]

### freq. of a number

In [4]:
def max_frequency(list):
    return max(set(list),key=list.count)
list=[1,55,7,9,8,9,8,6,67,8,9,0,6,6]
print(max_frequency(list))

6

In [8]:
l=[3,5,6,4,4,4,4]
d={}
for i in l:
    d[i]=l.count(i)
m=max(d.values())
for k in d:
    if m==d[k]:
         print(k)

4

### TABLE

In [6]:
a=int(input(" enter req.table "))
b=int(input(" enter value  "))
for m in range(b):
    n=a*m
    print(a,"*",m,"=",n)

 enter req.table 10
 enter value  11
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### repeated string

In [12]:
b=input("enter input")
j=b.split()
k={}
for i in j:
    k[i]=j.count(i)
d=max(k.values())
for g in k:
    if d==k[g]:
           print(g, "->",d)

enter inputis is thr thr ok ok
is -> 2
thr -> 2
ok -> 2